.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery > * {
    width: 100%;
}

@media screen and (min-width: 600px) {
    .gallery > * {
        width: calc(50% - 10px);
    }
}

@media screen and (min-width: 1000px) {
    .gallery > * {
        width: calc(33.3333333333% - 10px);
    }
}

@media screen and (min-width: 1000px) {
    .gallery > * {
        width: calc(25% - 10px);
    }
}