.list-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.list {
    width: 100%;
    border-radius: 5px;
    color: white;
}

.list-item {
    border-bottom: 1px solid #1c3aa9;
    width: 100%;
    position: relative;
}

.list-item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.list-item:last-child {
    border-bottom: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.list-item:nth-child(odd) {
    background: var(--list-odd-background);
}
.list-item:nth-child(even) {
    background: var(--list-even-background);
}
.reversed .list-item:nth-child(odd) {
    background: var(--list-even-background);
}
.reversed .list-item:nth-child(even) {
    background: var(--list-odd-background);
}

.index {
    position: absolute;
    top: 2px;
    right: 5px;
    font-size: 10px;
}