:root {
  --background: linear-gradient(#153470, #040d2e);
  --foreground: #e4e1da;

  --list-odd-background: #0a153d;
  --list-even-background: #051f50;

  --border-color: #103886;
  --gradient-border-color: linear-gradient(to right, transparent 0%, #1466ff 100%) 1;

  --input-background: #132566;

  --primary-button-background: #1466ff;
  --primary-button-color: #e4e1da;
  --secondary-button-background: #e4e1da;
  --secondary-button-color: #051f50;

  --gradient-background: linear-gradient(to right, #0a184d, #040d2e);

  --box-shadow: #1c3bb1 1px 1px 100px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(#153470, #040d2e);
    --foreground: #e4e1da;

    --list-odd-background: #0a153d;
    --list-even-background: #051f50;

    --border-color: #103886;
    --gradient-border-color: linear-gradient(to right, transparent 0%, #1466ff 100%) 1;

    --input-background: #132566;

    --primary-button-background: #1466ff;
    --primary-button-color: #e4e1da;
    --secondary-button-background: #e4e1da;
    --secondary-button-color: #051f50;

    --gradient-background: linear-gradient(to right, #0a184d, #040d2e);

    --box-shadow: #1c3bb1 1px 1px 100px;
  }
}

html,
body {
  height: 100dvh;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100dvh;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--foreground);
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

main {
  padding: 10px;
}

.padding {
  padding: 5px;
}

.padding-x2 {
  padding: 10px;
}

.margin {
  margin: 5px;
}

.margin-x2 {
  margin: 10px;
}

.margin-top-bottom {
  margin: 10px 0 10px 0;
}

button {
  border: none;
  padding: 2px 5px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  color: var(--foreground);
  background-color: transparent;
}

button.primary {
  background: var(--primary-button-background);
  color: var(--primary-button-color);
}

button.secondary {
  background: var(--secondary-button-background);
  color: var(--secondary-button-color);
}

.search-bar {
  color: white;
  margin-bottom: 10px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  border-image: var(--gradient-border-color);
  border-style: solid;
  width: 100%;
}

label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

input[type="checkbox"] {
  width: auto;
}

input {
  background: var(--input-background);
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}