.head-to-head .details {
    flex-direction: column;
}

.head-to-head .details > *::after {
    display: none;
}

.head-to-head-players {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.head-to-head-player {
    width: 50%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.head-to-head-player .player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head-to-head-score {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    font-size: 50px;
}