.head-to-head .details {
    flex-direction: column;
}

.head-to-head .details > *::after {
    display: none;
}

.head-to-head-players {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.head-to-head-player {
    width: 50%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.head-to-head-player .player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head-to-head-score {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    font-size: 50px;
}

.match-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.match-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.match-scores {
    display: flex;
    justify-content: center;
    width: 100%;
}

.match-score {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.123);
}

.match-loser {
    opacity: .4;
}

.match-score:nth-child(odd) {
    background: var(--list-odd-background);
}

.match-score:nth-child(even) {
    background: var(--list-even-background);
}