.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 5px;
}

.section-header-buttons {
    display: flex;
}